.main-chat

  .main-chat__right-header
    .main-chat__right-header__group
      .main-chat__right-header__group__name
        = @group.name
      .main-chat__right-header__group__list
        .main-chat__right-header__group__list__fixed-phrase
          Member : 
        .main-chat__right-header__group__list__member
        - @group.users.each do |users|
          = users.name
    .main-chat__right-header__edit-btn
      = link_to edit_group_path(@group), class: "edit" do
        Edit

  .main-chat__message-list
    = render @messages

  .Footer
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .Form__contents
        = f.text_field :content, class: 'Message', placeholder: 'type a message'
        = f.label :image, class: 'Image' do
          = icon('far', 'image', class: 'Icon')
          = f.file_field :image, class: 'Hidden'
      = f.submit 'Send', class: 'Submit'